<!--
    Matthew Chan
    SoftDev1 pd2
    K25 -- Getting More REST
    2019-11-13
-->
<!DOCTYPE HTML>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <style>
            :target{
                padding-top:70px;
                margin-top:-70px;
            }
        </style>

        <title>
            Using RESTful APIs
        </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center fixed-top">
            <a class="navbar-brand" href="#">APIs</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#Rick and Morty API">Rick and Morty API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#MapQuest Open Geocoding API">MapQuest Open Geocoding API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Loripsum API">Loripsum API</a>
                </li>
            </ul>  
        </nav>

        <div class="jumbotron text-center">
            <br>
            <h1 class="display-3">Usage of Various RESTful APIs</h1>
        </div>

        <br><br><hr><br><br>

        <div id="Rick and Morty API" class="container-fluid">
            <div class="jumbotron text-center">
                <h1>Rick and Morty API</h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src={{rick['image']}} class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">{{rick['name']}}</h3>
                            <p class="card-text">
                                Status: {{rick['status']}} <br>
                                Gender: {{rick['gender']}} <br>
                                Species: {{rick['species']}} <br>
                                From: {{rick['origin']['name']}} <br>
                                Location: {{rick['location']['name']}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src={{morty['image']}} class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">{{morty['name']}}</h3>
                            <p class="card-text">
                                Status: {{morty['status']}} <br>
                                Gender: {{morty['gender']}} <br>
                                Species: {{morty['species']}} <br>
                                From: {{morty['origin']['name']}} <br>
                                Location: {{morty['location']['name']}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src={{mrpb['image']}} class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">{{mrpb['name']}}</h3>
                            <p class="card-text">
                                Status: {{mrpb['status']}} <br>
                                Gender: {{mrpb['gender']}} <br>
                                Species: {{mrpb['species']}} <br>
                                From: {{mrpb['origin']['name']}} <br>
                                Location: {{mrpb['location']['name']}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br><hr><br><br>

        <div id="MapQuest Open Geocoding API" class="container-fluid">
            <div class="jumbotron text-center">
                <h1>MapQuest Open Geocoding API</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <img src={{geoForward['results'][0]['locations'][0]['mapUrl']}} class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Example Geocoding Forward</h3>
                            <h5>Supplied Address: {{geoForward['results'][0]['providedLocation']['location']}}</h5>
                            <p class="card-text">
                                Street: {{geoForward['results'][0]['locations'][0]['street']}} <br>
                                {{geoForward['results'][0]['locations'][0]['adminArea5Type']}}: {{geoForward['results'][0]['locations'][0]['adminArea5']}} <br>
                                {{geoForward['results'][0]['locations'][0]['adminArea3Type']}}: {{geoForward['results'][0]['locations'][0]['adminArea3']}} <br>
                                {{geoForward['results'][0]['locations'][0]['adminArea1Type']}}: {{geoForward['results'][0]['locations'][0]['adminArea1']}} <br>
                                Latitude: {{geoForward['results'][0]['locations'][0]['latLng']['lat']}} <br>
                                Longitude: {{geoForward['results'][0]['locations'][0]['latLng']['lng']}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img src={{geoReverse['results'][0]['locations'][0]['mapUrl']}} class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Example Geocoding Reverse</h3>
                            <h5>Supplied Latitude: {{geoReverse['results'][0]['providedLocation']['latLng']['lat']}}</h5>
                            <h5>Supplied Longitude: {{geoReverse['results'][0]['providedLocation']['latLng']['lng']}}</h5>
                            <p class="card-text">
                                Street: {{geoReverse['results'][0]['locations'][0]['street']}} <br>
                                {{geoReverse['results'][0]['locations'][0]['adminArea5Type']}}: {{geoReverse['results'][0]['locations'][0]['adminArea5']}} <br>
                                {{geoReverse['results'][0]['locations'][0]['adminArea3Type']}}: {{geoReverse['results'][0]['locations'][0]['adminArea3']}} <br>
                                {{geoReverse['results'][0]['locations'][0]['adminArea1Type']}}: {{geoReverse['results'][0]['locations'][0]['adminArea1']}} <br>
                                Latitude: {{geoReverse['results'][0]['locations'][0]['latLng']['lat']}} <br>
                                Longitude: {{geoReverse['results'][0]['locations'][0]['latLng']['lng']}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br><hr><br><br>

        <div id="Loripsum API" class="container-fluid">
            <div class="jumbotron text-center">
                <h1>Loripsum API</h1>
            </div>
            <div class="card">
                <div class="card-body">
                    {{loripsum|safe}}
                </div>
            </div>
        </div>
    </body>
</html>
